<div class="about">
	<div class="container">
	
		<div class="row">
			
			<!--FIRST HALF OF COLUMN-->

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeInLeft" align="center">
				<h2>About Me</h2>
				<img class="img-responsive" src="https://s3.eu-central-1.amazonaws.com/supyportfolio/supy.jpg" alt="">
			</div>

		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
				<p>Hi I'm Supreeth An aspiring Web developer learning to code and solving the problems is my passion</p>
				<p>The Learning phase in WeGotCoders is very intense should keep an open mind to digest a lot of information in a short span of time and I am looking forward to it</p>
				<p>I am learning to be a Full Stack web developer by undergoing a training with the WeGotCoders Bootcamp. In the last previous days I have grasped a lot of information about the Frontend and Backend frameworks. I am looking forward to apply that knowledge to build my portfolio website using the Ember as frontend and Rails as API</p>
			</div>
		</div>


	</div>
</div>
{{outlet}}
