<!--HEADER-->
<div class="header">
	<div class="container">
		<div class="row">
			
			<!--FIRST HALF OF COLUMN-->

			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInLeft">
				<h1>Welcome</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>

				<!-- Add a button as a list in line -->
				<ul class="list-inline">
					<li><a href="#" class="btn btn-trans btn-md">Buy Online</a></li>
					<li><a href="#" class="btn btn-trans btn-md">Read Review</a></li>
				</ul>				
			</div>

			<!-- SECOND HALF OF COLUMN -->
			<!--The image  in this column is aligned by default to the left we will alignt to center-->
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInRight" align="center">
				<img class="img-responsive" src="/images/devices.png" alt="">
			</div>

		</div>
	</div>
</div>


<!-- END HEADER -->

{{outlet}}
